<html>
<head>
  <title>Play Chess!</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="/chess.css">

<h1 align="center">Play Chess!</h1>

<div align="center">

  <% if @board %>
    <%= erb :'_game_board' %>
    <%= erb :'_check_status' %>
    <% if @promotion %>
      <%= erb :'_pawn_promotion' %>
    <% else %>
      <%= erb :'_move_maker' %>
    <% end %>
  <% end %>

  <%= erb :'_new_game' %>

</div>
<script type="text/javascript" src="/chess.js"></script>
</body>

</html>
